<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="home-tab" data-toggle="tab" [routerLinkActive]="['active']"
			routerLink="/auth/registration/customer" role="tab" aria-controls="home" aria-selected="true">Customer</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="profile-tab" data-toggle="tab" [routerLinkActive]="['active']"
			routerLink="/auth/registration/employee" role="tab" aria-controls="profile" aria-selected="false">Employee</a>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<router-outlet></router-outlet>
</div>