<div class="row align-center" style="padding-left: 15px;padding-bottom: 15px;">
	<div class="column align-center text-center">
		<h3 style="color: #623073;">Create Ride</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="info-form">
			<form>
				<div class="form-group">
					<label for="id">Pickup Location</label>
					<input  type="text" name="id" class="form-control" id="id" aria-describedby="idHelp" placeholder="Enter Pickup Location">
					<label for="name">Drop Location</label>
					<input  type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Drop Location">
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="id">Pickup Date</label>
								<input name="id" id="id"  type="text"
           placeholder="dd-MM-yyyy"
           class="form-control"
           bsDatepicker  placement="bottom left">
                                        </div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="id">Pickup Time</label>
									<timepicker name="id" id="id" aria-describedby="idHelp" [(ngModel)]="mytime">
									</timepicker>
								</div>
							</div>
						</div>
			</form>
			<button class="btn btn-primary">Check Availability</button>
			<br><br>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title"><a>Card title</a></h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
					<img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title"><a>Card title</a></h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>