<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
	<h3 class="register-heading">Register as a Customer</h3>
	<div>
		<form class="row register-form" style="width: 100%;padding-bottom: 10px;" [formGroup]="registerForm"
			(ngSubmit)="onSubmit()">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" placeholder="First Name *" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
					<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
						<div *ngIf="f.firstName.errors.required">First Name is required</div>
					</div>
				</div>
				<div class="form-group">
				 <input type="text" placeholder="Last Name *" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                                        </div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
						<div class="form-group">
							<input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
								<div class="form-group">
									<input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
									<div class="form-group">
										<input name="id" id="id"  type="text"
           placeholder="dd-MM-yyyy"
           class="form-control"
           bsDatepicker  placement="bottom left">
                                        </div>
										<div class="form-group">
											<div class="maxl" style="padding-top: 7px;">
												<label class="radio inline">
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
												<label class="radio inline">
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
											</div>
										</div>
										<input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
		</form>
	</div>
</div>