<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
		<h3 class="register-heading">LOGIN TO YOUR ACCOUNT</h3>
		<div class="row register-form loginform-lt">
			<div class="col-md-12">
				<div class="login-form-1">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Email or Mobile No *" value="" />
                        </div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
								<div class="form-group">
									<input type="button" (click)="navigate()" class="btnSubmit" value="Login" />
                        </div>
									<div class="form-group">
										<a href="#" class="ForgetPwd">Forget Password?</a>
									</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>