<div class="row align-center" style="padding-left: 15px;padding-bottom: 15px;">
	<div class="column align-center text-center">
		<h3 style="color: #623073;">Customer Details</h3>
	</div>
</div>
<div class="row">
	<div class="col text-right pt-2 pb-2">
		<button class="btn btn-primary">Add Customer</button>
	</div>
</div>
<div class="table-responsive text-nowrap table-content">
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr style="background-color: #623073;color: #fff;">
				<th class="text-center">Name</th>
				<th class="text-center">Mobile No</th>
				<th class="text-center">Email</th>
				<th class="text-center">Date Of Birth</th>
				<th class="text-center">Status</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of userDetails; let i= index">
				<td>{{user.name}}</td>
				<td>{{user.mobile}}</td>
				<td>{{user.email}}</td>
				<td>{{user.dateofbirth | date: 'dd/MM/yyyy'}}</td>
				<td class="text-center">
					<span *ngIf="user.status=='Active'" id="span" class="label label-success" style="background-color:green;color:white;">
            {{user.status}}</span>
					<span *ngIf="user.status=='InActive'" id="span" class="label label-success" style="background-color:red;color:white;">
            {{user.status}}</span>
				</td>
				<td class="text-center">
					<span class="menu-action hiderow22">
            <a id="22" data-original-title="edit" data-toggle="tooltip" data-placement="top" class="pl-1 pr-1 btnaction menu-icon vd_bd-yellow vd_yellow">Edit </a> 
            <a id="22" data-original-title="delete" data-toggle="tooltip" data-placement="top" 
          class="pl-1 pr-1 btnaction menu-icon vd_bd-red vd_red">View</a>        
          </span>
				</td>
			</tr>
		</tbody>
	</table>
</div>