/* You can add global styles to this file, and also import other style files */

/* @media (min-width: 1300px) {
    .container {
        max-width: 1360px !important;
    }
} */

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

.navbar-toggler {
    background-color: #e2542f !important;
}

.bs-datepicker-container {
    padding: 0 !important;
}
.theme-green .bs-datepicker-head {
    background-color: #623073 !important;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #e2542f !important;
}
.theme-green .bs-datepicker-body table td.week span {
    color: #623073 !important;
}

bs-datepicker-container {
    left: 50px !important;
}

.fixed-top {
    position: inherit !important;
}
.btn-primary {
    color: #fff;
    background-color: #e2542f !important;
    border-color: #e2542f !important;
    border: 0 !important;
}
body {
    font-family: Arial,Helvetica,sans-serif !important;
    /* background-color: #f3f2f2 !important; */
    /* background-color: #623073 !important; */
    background-color: #fff;
}

a {
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: bolder;
    text-align: left;
    color: #623073 !important;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.42857;
    font-weight: inherit;
    text-decoration: none;
}

a:hover, a:visited {
    text-decoration: none;
    color: #e2542f !important;
}
.table-content {
    font-family: Georgia;
    font-size: 15px;
}
.file-upload {
    padding: 0 !important;
    padding-top: 8px !important;
    font-size: 8px !important;
    line-height: 0.5 !important;
}
.text-word-wrap {
    display:block;
    width:150px;
    word-wrap:break-word;
    overflow: hidden;
}

.register{
    background: -webkit-linear-gradient(left, #623073, #623073);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

@media (min-width: 600px) {
    .loginform-lt {
       padding-left: 15% !important;
       padding-right: 15% !important;
    }
}
@media (min-width: 760px) {
    .loginform-lt {
       padding-left: 22% !important;
       padding-right: 22% !important;
    }
}
@media (min-width: 1200px) {
    .loginform-lt {
      padding-left: 30% !important;
      padding-right: 30% !important;
    }
}

